* {
  font-family: "Nunito", sans-serif;
}
.dropdown {
  position: relative;
  display: inline-block;
  display: flex;
  justify-content: flex-start;
  padding: 20px;
}

main {
  padding-top: 100px;
  padding-left: 20px;
  padding-right: 20px;
  overflow: hidden;
}

.dropdown-btn {
  background-color: #fff;
  color: #000;
  padding: 12px;
  border: none;
  border-radius: 16px;
  cursor: pointer;
  font-size: 20px;
  width: 190px;
  display: block;
}

.dropdown-content {
  display: none;
  position: absolute;
  z-index: 1;
  background-color: #f9f9f9;
  width: 190px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  border-radius: 16px;
}

.dropdown-content a:hover {
  color: #7e5c14;
}

.german,
.english,
.french {
  display: none;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown .dropdown-content.active {
  display: block;
}

.active {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.active p,
a,
h1,
h2,
h3,
h4 {
  max-width: 1000px;
  text-align: center;
}

.active a {
  text-decoration: none;
  color: #7e5c14;
  word-break: break-all;
}

p,
a {
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.dropdown-content {
  display: none;
}

.dropdown-content.show {
  display: block;
}
